@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<AuthenticationWrapper Title="Reset password">
    <Subtitle>Remembered your password? <a href="/Account/Login/" class="font-semibold">Back to login</a></Subtitle>

    <ChildContent>
        The password reset link is invalid.
    </ChildContent>
</AuthenticationWrapper>
