@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<AuthenticationWrapper Title="Reset password">
    <Subtitle>Remembered your password? <a href="/Account/Login/" class="font-semibold">Back to login</a></Subtitle>

    <ChildContent>
        <p>
            Your password has been reset. Please <a href="Account/Login">click here to log in</a>.
        </p>
    </ChildContent>
</AuthenticationWrapper>
