@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Application.Web.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (externalLogins.Length > 0)
{
    <section>
        <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
            <div>
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="@ReturnUrl"/>

                <div class="flex flex-col gap-4">
                    @foreach (var provider in externalLogins)
                    {
                        <button type="submit" class="block rounded-full bg-gray-600/40 hover:bg-gray-600/50 transition-default px-6 py-2 border border-gray-300/30 font-semibold text-gray-200" name="provider" value="@provider.Name" title="Continue with your @provider.DisplayName account">Continue with @provider.DisplayName</button>
                    }
                </div>
            </div>
        </form>
    </section>
}

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }

}
