@page "/errors/404"

<div class="bg-gradient-to-br from-slate-900 to-slate-950 text-white flex flex-col justify-center items-center py-4 lg:py-16 px-4 min-h-screen w-screen">
    <div class="flex flex-col justify-center items-center mb-12">
        <h1 class="text-[6rem] lg:text-[10rem] font-black leading-tight">404</h1>

        We can't find the requested page.
    </div>

    <a href="/" class="block rounded-full bg-gray-400/30 hover:bg-gray-400/40 transition-default px-6 py-2 border border-gray-300/30 font-semibold text-gray-200">Back to Home</a>
</div>
