<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="Application.Web.styles.css"/>
    <HeadOutlet/>
</head>

<body class=" bg-gradient-to-br from-purple-900 to-slate-950 text-white min-h-screen">
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>
