<button type="submit" class="block transition-default w-full px-4 py-2 text-center rounded-lg bg-primary-600 hover:bg-primary-700 shadow-2xl">@Label</button>

@code {
    [Parameter]
    public string? Label { get; set; }
}
